# Puerto en el que se ejecutará la aplicación
PORT=3000

# Para generar una imagen en docker con la base de datos de postgres (solo tener en desarrollo)
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres-db

PGADMIN_DEFAULT_EMAIL=pgadmin@example.com
PGADMIN_DEFAULT_PASSWORD=pgadmin

# Clave secreta para firmar los JWT
JWT_SECRET=example_secret_key_for_jwt

# ID de la máquina (puede ser cualquier número, se utiliza para generar los IDs únicos)
MACHINE_ID = 1

# Entorno de ejecución: production, development o test
NODE_ENV=development

# URL de conexión a la base de datos (producción o desarrollo): colocarlo ente comillas dobles 
DATABASE_URL="postgresql://postgres_user:postgres_password@localhost/postgres-db?sslmode=require"
